Repository huff-language/huff-rs, pull requests merged in 2022-08, with the labels that each got.

#189 fix: Stable Version Bumps
  Cargo.lock
  README.md
  huff_cli/Cargo.toml
  huff_cli/README.md
  huff_codegen/Cargo.toml
  huff_core/Cargo.toml
  huff_lexer/Cargo.toml
  huff_parser/Cargo.toml
  huff_utils/Cargo.toml
  huffup/README.md
Labels: docs

#198 feat: Huff tests
  Cargo.lock
  Cargo.toml
  huff_cli/Cargo.toml
  huff_cli/src/huffc.rs
  huff_codegen/README.md
  huff_codegen/src/irgen/arg_calls.rs
  huff_codegen/src/irgen/constants.rs
  huff_codegen/src/irgen/statements.rs
  huff_codegen/src/lib.rs
  huff_codegen/tests/abigen.rs
  huff_core/src/lib.rs
  huff_core/tests/parser_errors.rs
  huff_core/tests/tests.rs
  huff_lexer/src/lib.rs
  huff_lexer/tests/decorators.rs
  huff_lexer/tests/keywords.rs
  huff_parser/README.md
  huff_parser/src/lib.rs
  huff_parser/tests/constant.rs
  huff_parser/tests/labels.rs
  huff_parser/tests/macro.rs
  huff_parser/tests/storage_pointer_derivation.rs
  huff_tests/Cargo.toml
  huff_tests/README.md
  huff_tests/src/errors.rs
  huff_tests/src/lib.rs
  huff_tests/src/report.rs
  huff_tests/src/runner.rs
  huff_tests/src/types.rs
  huff_tests/tests/runner.rs
  huff_utils/src/abi.rs
  huff_utils/src/ast.rs
  huff_utils/src/error.rs
  huff_utils/src/token.rs
Labels: cli

#203 feat(huff_tests): Cheatcodes
  Cargo.lock
  huff_tests/Cargo.toml
  huff_tests/src/cheats.rs
  huff_tests/src/inspectors/cheats_inspector.rs
  huff_tests/src/inspectors/mod.rs
  huff_tests/src/lib.rs
  huff_tests/src/report.rs
  huff_tests/src/runner.rs
  huff_tests/src/types.rs
Labels: huff tests

#201 feat(huff_core): Remapping Import Resolution
  Cargo.lock
  foundry.toml
  huff_core/benches/huff_benchmark.rs
  huff_core/src/lib.rs
  huff_core/tests/aliased_imports.rs
  huff_core/tests/erc20.rs
  huff_core/tests/erc721.rs
  huff_core/tests/recurse_deps.rs
  huff_parser/src/lib.rs
  huff_parser/tests/imports.rs
  huff_utils/Cargo.toml
  huff_utils/src/files.rs
  huff_utils/tests/files.rs
Labels: parser, med-priority
