Repository huff-language/huff-rs, pull requests merged in 2022-06, with the labels that each got.

#114 Create LICENSE-APACHE
  LICENSE-APACHE
Labels: docs

#122 feat(huff_lexer): Syntax sugar for boolean values
  huff_codegen/src/lib.rs
  huff_lexer/src/lib.rs
  huff_lexer/tests/hex.rs
  huff_parser/src/lib.rs
  huffup/huffup
Labels: lexer, low-priority

#121 fix(huff_core): Missing File Erroring
  huff_core/src/lib.rs
  huff_core/tests/erc20.rs
  huff_core/tests/erc721.rs
  huff_core/tests/recurse_deps.rs
  huff_core/tests/sources.rs
  huff_utils/src/error.rs
  huff_utils/src/io.rs
Labels: med-priority, bug, core

#128 fix(benchmarks): Fix benchmarks in accordance w/ #121
  huff_core/benches/huff_benchmark.rs
Labels: benchmarks

#129 fix(huff_core): Allow Missing Constructor
  huff_core/src/lib.rs
  huff_core/tests/errors.rs
  huff_core/tests/gen_artifact.rs
Labels: bug, core

#131 fix(huff_core): Artifact Exports Off By Default
  huff_cli/src/huffc.rs
  huff_core/src/lib.rs
  huff_utils/src/artifact.rs
  huff_utils/src/files.rs
Labels: med-priority, bug, core

#136 feat(huff_codegen): Optimize constructor bootstrap code
  huff_codegen/README.md
  huff_codegen/src/lib.rs
  huff_codegen/tests/churn.rs
  huff_core/tests/compiling.rs
  huff_core/tests/erc20.rs
  huff_core/tests/erc721.rs
  huff_core/tests/gen_artifact.rs
Labels: codegen

#138 fix(huff_cli): Only output a spinner if stdout is a TTY
  Cargo.lock
  huff_cli/Cargo.toml
  huff_cli/src/huffc.rs
Labels: cli, bug

#134 feat(huff_core): Artifact Caching
  Cargo.lock
  huff_core/Cargo.toml
  huff_core/src/cache.rs
  huff_core/src/lib.rs
  huff_parser/tests/opcodes.rs
Labels: med-priority, core

#145 fix(errors): Propagation
  Cargo.lock
  huff_core/Cargo.toml
  huff_core/tests/codegen_errors.rs
  huff_core/tests/parser_errors.rs
  huff_lexer/src/lib.rs
  huff_lexer/tests/keywords.rs
  huff_parser/src/lib.rs
  huff_utils/src/abi.rs
  huff_utils/src/ast.rs
  huff_utils/src/error.rs
  huff_utils/src/files.rs
  huff_utils/tests/files.rs
Labels: parser, med-priority, bug
