Repository huff-language/huff-rs, pull requests merged in 2022-07, with the labels that each got.

#148 feat(huff_codegen): Builtin functions for event and function signatures
  Cargo.lock
  huff_codegen/Cargo.toml
  huff_codegen/src/irgen/statements.rs
  huff_core/tests/builtins.rs
  huff_core/tests/parser_errors.rs
  huff_lexer/src/lib.rs
  huff_lexer/tests/builtins.rs
  huff_parser/src/lib.rs
  huff_parser/tests/event.rs
  huff_utils/src/ast.rs
  huff_utils/src/error.rs
Labels: codegen

#146 feat(huff_cli): Interactive Constructor Args
  .gitignore
  Cargo.lock
  huff_cli/Cargo.toml
  huff_cli/README.md
  huff_cli/src/huffc.rs
  huff_utils/src/abi.rs
  huff_utils/tests/abi.rs
Labels: cli, med-priority

#153 feat(huff_cli): Solidity interface generation
  huff_cli/src/huffc.rs
  huff_utils/src/abi.rs
  huff_utils/src/ast.rs
  huff_utils/src/lib.rs
  huff_utils/src/sol_interface.rs
Labels: cli

#154 fix: Bad Artifact Caching
  huff_cli/src/huffc.rs
  huff_codegen/tests/constructor_args.rs
  huff_core/README.md
  huff_core/src/cache.rs
  huff_core/src/lib.rs
  huff_core/tests/file_resolution.rs
  huff_core/tests/gen_artifact.rs
  huff_utils/src/types.rs
Labels: high-priority, bug, core

#158 docs + nightly stage release
  .github/workflows/release.yaml
  README.md
  huff_cli/README.md
  huff_cli/src/huffc.rs
  huff_codegen/src/irgen/statements.rs
  huff_core/tests/erc20.rs
  huff_core/tests/erc721.rs
  huff_lexer/README.md
  huff_lexer/src/lib.rs
  huff_parser/README.md
  huffup/README.md
Labels: docs

#144 [STAGE] -> [MAIN]
  .github/workflows/release.yaml
  .gitignore
  Cargo.lock
  Dockerfile
  README.md
  huff_cli/Cargo.toml
  huff_cli/README.md
  huff_cli/src/huffc.rs
  huff_codegen/Cargo.toml
  huff_codegen/src/irgen/statements.rs
  huff_codegen/tests/constructor_args.rs
  huff_core/Cargo.toml
  huff_core/README.md
  huff_core/src/cache.rs
  huff_core/src/lib.rs
  huff_core/tests/builtins.rs
  huff_core/tests/codegen_errors.rs
  huff_core/tests/erc20.rs
  huff_core/tests/erc721.rs
  huff_core/tests/file_resolution.rs
  huff_core/tests/gen_artifact.rs
  huff_core/tests/parser_errors.rs
  huff_lexer/README.md
  huff_lexer/src/lib.rs
  huff_lexer/tests/builtins.rs
  huff_lexer/tests/keywords.rs
  huff_parser/README.md
  huff_parser/src/lib.rs
  huff_parser/tests/event.rs
  huff_parser/tests/opcodes.rs
  huff_utils/src/abi.rs
  huff_utils/src/ast.rs
  huff_utils/src/error.rs
  huff_utils/src/files.rs
  huff_utils/src/lib.rs
  huff_utils/src/sol_interface.rs
  huff_utils/src/types.rs
  huff_utils/tests/abi.rs
  huff_utils/tests/files.rs
  huffup/README.md
  huffup/huffup
  huffup/install
Labels: sync

#166 fix: Table Builtin Errors
  .github/workflows/docker-publish.yaml
  .github/workflows/release.yaml
  README.md
  huff_codegen/src/irgen/statements.rs
  huff_core/src/lib.rs
  huff_core/tests/erc20.rs
Labels: codegen, bug

#168 feat(huff_codegen): Finish Code Tables
  Cargo.lock
  huff_codegen/src/irgen/statements.rs
  huff_codegen/src/lib.rs
  huff_core/tests/builtins.rs
  huff_lexer/src/lib.rs
  huff_parser/Cargo.toml
  huff_parser/src/lib.rs
  huff_parser/tests/table.rs
  huff_utils/src/ast.rs
  huff_utils/src/bytecode.rs
  huff_utils/src/error.rs
Labels: parser, codegen

#164 feat(huff_codegen): Functions
  huff_codegen/README.md
  huff_codegen/src/irgen/statements.rs
  huff_codegen/src/lib.rs
  huff_codegen/tests/abigen.rs
  huff_core/tests/functions.rs
  huff_core/tests/parser_errors.rs
  huff_lexer/src/lib.rs
  huff_lexer/tests/keywords.rs
  huff_parser/README.md
  huff_parser/src/lib.rs
  huff_parser/tests/labels.rs
  huff_parser/tests/macro.rs
  huff_utils/src/ast.rs
  huff_utils/src/token.rs
Labels: codegen

#170 patch: Clippy Fixes
  huff_codegen/src/lib.rs
  huff_core/src/cache.rs
  huff_utils/src/files.rs
Labels: bug

#171 feat(huff_cli): Constant Overrides
  huff_cli/src/huffc.rs
  huff_codegen/README.md
  huff_codegen/src/irgen/arg_calls.rs
  huff_codegen/src/irgen/constants.rs
  huff_codegen/tests/abigen.rs
  huff_core/README.md
  huff_core/src/lib.rs
  huff_core/tests/file_resolution.rs
  huff_core/tests/gen_artifact.rs
  huff_parser/README.md
  huff_parser/src/lib.rs
  huff_parser/tests/constant.rs
  huff_parser/tests/storage_pointer_derivation.rs
  huff_utils/src/abi.rs
  huff_utils/src/ast.rs
Labels: cli

#173 fix: Scrambled Imports
  Cargo.lock
  huff_parser/src/lib.rs
  huff_parser/tests/imports.rs
Labels: bug

#174 feat(huff_codegen): Custom Errors
  Cargo.lock
  huff_codegen/Cargo.toml
  huff_codegen/README.md
  huff_codegen/src/irgen/statements.rs
  huff_codegen/tests/abigen.rs
  huff_core/tests/builtins.rs
  huff_lexer/src/lib.rs
  huff_lexer/tests/builtins.rs
  huff_lexer/tests/keywords.rs
  huff_parser/Cargo.toml
  huff_parser/README.md
  huff_parser/src/lib.rs
  huff_parser/tests/error.rs
  huff_utils/Cargo.toml
  huff_utils/src/abi.rs
  huff_utils/src/ast.rs
  huff_utils/src/bytes_util.rs
  huff_utils/src/error.rs
  huff_utils/src/token.rs
Labels: codegen

#176 fix(huff_utils): Ast `try_from` panics
  huff_utils/src/ast.rs
Labels: utils, bug

#177 fix: Jump Table UsizeConversion Error
  huff_cli/src/huffc.rs
  huff_codegen/src/lib.rs
  huff_core/src/lib.rs
  huff_core/tests/breaking_jumptable.rs
  huff_utils/src/ast.rs
  huff_utils/src/bytes_util.rs
  huff_utils/tests/bytes.rs
Labels: bug

#180 fix: Invalid Parameter Types
  huff_parser/src/lib.rs
  huff_parser/tests/breaking_param_invocation.rs
Labels: bug

#183 feat(huff_cli): Add custom errors to solidity interface gen
  huff_codegen/tests/abigen.rs
  huff_parser/src/lib.rs
  huff_parser/tests/error.rs
  huff_utils/src/abi.rs
  huff_utils/src/ast.rs
  huff_utils/src/sol_interface.rs
Labels: cli

#182 feat: Interface Overloading
  huff_cli/src/huffc.rs
  huff_codegen/tests/abigen.rs
  huff_parser/src/lib.rs
  huff_parser/tests/error.rs
  huff_utils/src/abi.rs
  huff_utils/src/ast.rs
  huff_utils/src/sol_interface.rs
Labels: cli, bug

#185 feat(huff_codegen): `__RIGHTPAD` builtin
  huff_codegen/src/irgen/statements.rs
  huff_core/tests/builtins.rs
  huff_lexer/tests/builtins.rs
  huff_parser/src/lib.rs
  huff_parser/tests/labels.rs
  huff_utils/src/ast.rs
Labels: codegen
