Repository huff-language/huff-rs, pull requests merged in 2023-02, with the labels that each got.

#249 fix: update dockerfile and use caching
  Dockerfile
Labels: ci

#217 feat(huff_utils) remappings with file
  huff_utils/src/files.rs
  huff_utils/tests/files.rs
  huff_utils/tests/remappings.txt
Labels: utils

#243 feat: __VERBATIM
  huff_codegen/src/irgen/statements.rs
  huff_core/tests/verbatim.rs
  huff_utils/src/ast.rs
  huff_utils/src/error.rs
Labels: codegen

#240 fix: circlular constructor dependencies
  huff_codegen/src/irgen/statements.rs
  huff_codegen/src/lib.rs
  huff_core/tests/test_circular_constructor.rs
  huff_tests/src/runner.rs
  huff_utils/src/ast.rs
  huff_utils/src/bytecode.rs
  huff_utils/tests/files.rs
Labels: codegen

#255 Fix: version bumps and contributors
  Cargo.lock
  README.md
  huff_cli/Cargo.toml
  huff_cli/README.md
  huff_codegen/Cargo.toml
  huff_core/Cargo.toml
  huff_js/Cargo.toml
  huff_lexer/Cargo.toml
  huff_parser/Cargo.toml
  huff_utils/Cargo.toml
  huffup/README.md
Labels: docs, bug
